[user]
    name = Julian Prud'homme
    email = jprudhomme@naoned.fr
[alias]
    a = add -p
    st = status -sb
    ci = commit
    co = checkout
    br = branch
    dc  = diff --cached
    fp = fetch --prune
    fpr = !git fetch --prune && git pull --rebase
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    rank = shortlog -sn --no-merges
    bdm = "!git branch --merged | grep -v '*' | grep -v 'master' | xargs -n 1 git branch -d"
    wip = '! git add . && git commit -m "[ci skip] wip"'
    amend = commit --amend
[push]
    default = current
[color]
    ui = true
[core]
	preloadindex = true
    editor = vim
    fileMode = false
ignoreCase = false
